<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="AfricasTalking Test Suite">
            <directory suffix="Test.php">./test/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="TEST_USERNAME" value="sandbox"/>
        <env name="TEST_API_KEY" value="9bdd9f7bb3f775ffc5263d4c8b47a028c343c9cf45a8c1c3c2a82e949041cd2e"/>
    </php>
</phpunit>