<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="AfricasTalking Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="TEST_USERNAME" value="sandbox"/>
        <env name="TEST_API_KEY" value="ff6cce1576d00573b667bd793cc94a7591672066b3331709bdc32c18b653d62c"/>
    </php>
</phpunit>